<div>
    <button><a href="/login" class="no-underline">Log in</a></button>
    <button><a href="/signup" class="no-underline">Sign up</a></button>
    <button class="bg-blue">hello</button>

</div>

{{!-- <script src="js/index.js"></script> --}}
